{% extends 'index.html' %}

{% block content %}

<nav class="navbar navbar-expand-md fixed-top">
   <div class="container-fluid">
      <a href="/home" class="navbar-brand">CODE_DEX</a>
      <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbarMenu"
         aria-controls="navbarMenu"
         aria-expanded="false" a
         ria-label="Toggle navigation"
      >
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse me-5 sm-me-0" id="navbarMenu">
         <ul class="navbar-nav">
            <li class="nav-item">
               <a href="/upload" class="nav-link active" aria-current="home">UPLOAD</a>
            </li>
            <li class="nav-item dropdown">
               <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
               >
                  <i class="bi bi-person-circle"></i>
               </a>
               <ul class="dropdown-menu">
                  <li class="nav-item"><a
                     class="dropdown-item"
                     href="{% url 'profile_edit' request.user.id %}"
                  >
                     Edit Profile
                  </a></li>
                  <li><a
                     class="dropdown-item"
                     href="{% url 'password_change' %}"
                  >
                     Change Password
                  </a></li>
                  <li><a
                     class="dropdown-item"
                     href="{% url 'logout' %}"
                  >
                     Logout
                  </a></li>
               </ul>
            </li>
            <li class="nav-item mt-2 ms-md-2">
               {% block categories %}{% endblock %}
            </li>
         </ul>
      </div>
   </div>
</nav>
 
<main>
{% block main %}{% endblock %} 
</main>
<footer></footer>
{% endblock %}
   