{% extends 'base.html' %}

{% block main %}

<div class="home">
   <script type="">

   </script>
   <form method="get">
      <select name="category" id="categorySelect" onchange="form.submit()">
         <option disabled selected>Select Category</option>
         <option value="all">All Categories</option>
         {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
         {% endfor %}
      </select>
   </form>

   <div class="file-view">
      <h1>{{ header }}</h1>
      {% for record in records %}
         <p>{{ record.title }}</p>
         <p>{{ record.category }}</p>
         {% if '.pdf' in record.file.url  %}
            <embed src="{{ record.file.url }}" width="800px" height="1080px"/>
         {% elif '.png' in record.file.url %}
            <img src="{{ record.file.url }}" alt="{{ record.title }}">
         {% endif %}
         {% empty %}
         <p>No records found</p>
      {% endfor %}
   </div>

</div>

{% endblock %}