{% extends 'base.html' %}


{% block categories %}
   {% with categories as categories %}
      {% include 'code_dex/navbar-categories.html' %}
   {% endwith %}
{% endblock categories %}
   

{% block main %}

   <div class="file-view">
      <div>
         <h1>{{ header }}</h1>
         {% for record in records %}
            <hr>
            <h4>{{ record.title }}</h4>
            <h6>{{ record.category }}</h6>
            {% if '.pdf' in record.file.url  %}
               <object class="file" data="{{ record.file.url }}" type="application/pdf"></object>
            {% elif '.doc' in record.file.url %}
               <object class="file" data="{{ record.file.url }}" type="application/msword"></object>
            {% elif '.xlsx' in record.file.url %}
               <object class="file" data="{{ record.file.url }}" type="application/msword"></object>
            {% elif '.ppt' in record.file.url %}
               <object class="file" data="{{ record.file.url }}" type="application/msword"></object>
            {% elif '.png' in record.file.url %}
               <object class="image" data="{{ record.file.url }}" type="image/png"></object>
            {% elif '.jpg' in record.file.url %}
               <object class="image" data="{{ record.file.url }}" type="image/jpg"></object>
            {% endif %}
            <div>
               <h5 class="d-inline-block me-3 mt-3 mb-5">
                  <a class="edit"
                     {% if request.GET.category %}
                        href="{% url 'record_update' record.pk %}?next={{ request.path|urlencode }}&category={{ request.GET.category }}"
                     {% else %}
                        href="{% url 'record_update' record.pk %}?next={{ request.path|urlencode }}"
                     {% endif %}
                  ><i class="bi bi-pencil-fill"></i></a>
               </h5>
               <h5 class="d-inline-block ms-2 mt-3 mb-5">
                  <a class="delete"
                     {% if request.GET.category %}
                        href="{% url 'record_delete' record.pk %}?next={{ request.path|urlencode }}&category={{ request.GET.category }}"
                     {% else %}
                        href="{% url 'record_delete' record.pk %}?next={{ request.path|urlencode }}"
                     {% endif %}
                  ><i class="bi bi-trash3-fill"></i></a>
               </h5>
            </div>
            {% empty %}
            <p>No records found</p>
         {% endfor %}
      </div>
   </div>

{% endblock %}