{% extends 'base.html' %}

{% block main %}

<div class="file-view">
   <div class="display-window">
      <h1>File uploaded successfully!</h1>
      <hr>
      <h4>{{ object.title }}</h4>
      <h6>{{ object.category }}</h6>
      {% if '.pdf' in object.file.url  %}
         <object class="file" data="{{ object.file.url }}" type="application/pdf"></object>
      {% elif '.png' in object.file.url %}
         <object class="image" data="{{ object.file.url }}" type="image/png"></object>
      {% elif '.jpg' in object.file.url %}
         <object class="image" data="{{ object.file.url }}" type="image/jpg"></object>
      {% endif %}
      <a class="gold-link mt-5" href="/home">Return to Homepage</a>
   </div>
</div>

{% endblock %}
   