{% extends 'base.html' %}

{% block main %}

<div class="info-page">
   <div>
      <h1 class="mb-5">Edit Record</h1>
      <form method="post">
         {% csrf_token %}
         {{ form.as_p }}
         <input type="hidden" name="next"
            {% if request.GET.category %}
               value="{{ request.GET.next }}?category={{ request.GET.category }}"
            {% else %}
               value="{{ request.GET.next }}"
            {% endif %}
         >
         <div class="d-flex justify-content-center mt-5">
            <input class="btn btn-secondary me-2" type="submit" value="Confirm">
            <a
               {% if request.GET.category %}
                  href="{{ request.GET.next }}?category={{ request.GET.category }}"
               {% else %}
                  href="{{ request.GET.next }}"
               {% endif %}
               class="btn btn-secondary"
            >Cancel</a>
         </div>
      </form>
   </div>
</div>

{% endblock main %}