* {
   /* background: rgb(0,100,0,.2); */
}

html, body {
   margin: 0px;
   padding: 0px;
}

body {
   background: rgb(30,30,30);
   font-family: 'Oldenburg', cursive;
}

/* --------------------- LANDING PAGE --------------------- */

.auryn {
   display: block;
   text-align: center;
   margin: 2rem auto;
   margin-top: 8em;
}

.enter {
   color: rgb(220, 175, 0);
}